.launch-item {
  border-top: 0 !important;
  border-radius: 10px !important;
  box-shadow: RGBA(0, 0, 0, 0.25) 3px 3px 3px 3px !important;
  margin-bottom: 10px;
}

launch-row {
  display: flex;
  flex-direction: row;
}

.flight-number {
  font-size: 40px;
  padding-left: 32px;
}

.flight-name {
  font-size: 32px;
  padding-left: 24px;
}

.end-container {
  display: flex;
  margin-left: auto;
  padding-right: 16px;
}

.expand-icon {
  margin-top: 0.5rem;
  margin-left: 2rem;
  font-size: 5rem;
  align-self: center;
  :hover {
    cursor: pointer;
    color: rgb(118, 115, 115);
  }
}

.expand-icon.active {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.launch-date {
  font-size: 16px;
}

.rocket-name {
  margin-left: auto;
  font-size: 24px;
  padding-bottom: 8px;
  font-weight: bold;
}

.launch-details {
  font-size: large;
  display: flex;
  overflow-wrap: break-word;
  flex-direction: row;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.article-link {
  color: rgb(57, 57, 234);
  :hover {
    color: rgb(14, 14, 153);
  }
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  display: none;
}
