.launch-list {
    display: flex;
    flex-direction: column;
    padding-top: 1.3rem;
}

.launch-list-error-msg {
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding-top: 5.3rem;
}

.loader {
    display: flex;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: rgb(6, 6, 6) transparent rgb(7, 7, 7) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
